Repository bespoke-silicon-group/bsg_replicant, pull requests merged in 2019-11, with the labels that each got.

#458 Removed create_bladerunner_rom.py, replaced with make/shell commands
  hardware/.gitignore
  hardware/bsg_bladerunner_rom_pkg.vh
  hardware/create_bladerunner_rom.py
  hardware/hardware.mk
Labels: Hardware

#457 Re-implemented BSG Time to use $time, instead of $realtime
  libraries/bsg_manycore_printing.cpp
  libraries/bsg_manycore_printing.h
  testbenches/sh_dpi_tasks.svh
Labels: Cosimulation

#461 Renamed hb_mc_application_init to hb_mc_kernel_enqueue
  libraries/bsg_manycore_cuda.cpp
  libraries/bsg_manycore_cuda.h
  regression/cuda/test_binary_load_buffer.c
  regression/cuda/test_device_memcpy.c
  regression/cuda/test_device_memset.c
  regression/cuda/test_dram_device_allocated.c
  regression/cuda/test_dram_host_allocated.c
  regression/cuda/test_empty_parallel.c
  regression/cuda/test_float_all_ops.c
  regression/cuda/test_float_matrix_mul.c
  regression/cuda/test_float_matrix_mul_shared_mem.c
  regression/cuda/test_float_vec_add.c
  regression/cuda/test_float_vec_add_shared_mem.c
  regression/cuda/test_float_vec_div.c
  regression/cuda/test_float_vec_exp.c
  regression/cuda/test_float_vec_log.c
  regression/cuda/test_float_vec_mul.c
  regression/cuda/test_float_vec_sqrt.c
  regression/cuda/test_host_memset.c
  regression/cuda/test_loader.c
  regression/cuda/test_log_softmax.c
  regression/cuda/test_matrix_mul.c
  regression/cuda/test_matrix_mul_shared_mem.c
  regression/cuda/test_max_pool2d.c
  regression/cuda/test_multiple_binary_load.c
  regression/cuda/test_shared_mem.c
  regression/cuda/test_shared_mem_load_store.c
  regression/cuda/test_softmax.c
  regression/cuda/test_stack_load.c
  regression/cuda/test_vec_add.c
  regression/cuda/test_vec_add_parallel.c
  regression/cuda/test_vec_add_parallel_multi_grid.c
  regression/cuda/test_vec_add_serial_multi_grid.c
  regression/cuda/test_vec_add_shared_mem.c
Labels: CUDA-Lite, Discussion, Feature Request
